@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}
body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgb(69, 69, 69);
}
.container .left_side {
  position: relative;
  background: #0275aa;
  padding: 40px;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: #3c3c3c 3px 9px 8px;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
}
.container .right_side {
  position: relative;
  background: #eaeaea;
  padding: 40px;
}
.profileText h2 {
  color: rgb(252, 249, 249);
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1.4em;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.contactInfo {
  padding-top: 40px;
  text-shadow: #222222 3px 9px 8px;
  font-size: small;
}
.title {
  font-style: italic;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: "Merriweather";
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;

  color: white;
  font-size: "Dougle";
  font-style: italic;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #0c0c0c;
}
.contactInfo ul li span {
  color: whitesmoke;
  font-weight: 300;
}
.contactInfo.education li {
  margin-bottom: 15px;
}
.contactInfo.education h5 {
  color: #000000;
  font-weight: bold;
  font-size: small;
}
.contactInfo.education h4 {
  font-weight: 500;
  color: white;
}
.contactInfo.education h4:nth-child(2) {
  color: #ffffff;
  font-weight: 300;
  font-family: "Dougle";
  font-style: italic;
}
.contactInfo.education h4 {
  color: white;
  font-weight: 300;
  text-shadow: #222222 3px 9px 8px;
}
.contactInfo.linguagem .percent {
  position: relative;
  width: 40%;
  height: 10px;
  background: rgb(10, 10, 10);
  display: block;
  margin-top: 5px;
  display: inline-flex;
}
.contactInfo.linguagem .percent div {
  position: relative;
  width: 10%;
  height: 6px;
  background: rgb(253, 253, 253);
  display: block;
  margin-top: 5px;
}
.container .right_side {
  position: relative;
  background: white;
  padding: 20px;
}
.about {
  margin-bottom: 20px;
}
.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-shadow: #222222 3px 6px 8px;
  top: 5px;
  font-size: large;
}
p {
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-family: "Merriweather", sans-serif;
  font-size: small;
}
.about .box {
  display: flex;
  flex-direction: row;
  max-width: 25px 0;
}
.about .box .year_company {
  min-width: 150px;
}
h2 {
  text-shadow: #222222 3px 9px 8px;
}
.spa {
  color: darkorange;
  font-weight: bold;
}

.img1 {
  box-shadow: #383838 3px 3px 10px;
  margin-left: 10px;
  border-radius: 0.2rem;
  height: 30px;
}
#cop {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-shadow: #222222 3px 6px 8px;
  top: 5px;
  font-size: small;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  width: 20px;
  height: 20px;
  color: brown;
  text-align: justify;
}
.imgg {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  text-align: justify;
  box-shadow: #5d5d5d 2px 8px 6px;
  border-radius: 26px;
}
.btnCv {
  background-color: #0275aa;
  padding: 1px 190px 1px 190px;
  color: #ffffff;
  border: none;
}
